html {
    font-size: 24px;
}

@media (min-width: 768px) {
    html {
        font-size: 24px;
    }
}


body {
    width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.calculator {
    min-width: fit-content;
    min-height: fit-content;
    background-color: black;
    border-radius: 15px;
}

.content {
    padding: 20px;
}

#display {
    padding: 50px 10px 10px 0;
    border: 10px;
    text-align: end;
    background-color: grey;
    border-radius: 15px;
    margin-bottom: 10px;
    font-size: 36px;
    color: white;
    font-weight: bold;
}

button {
    cursor: pointer;
    margin: 5px;
    border: 0;
    border-radius: 50%;
    font-size: 36px;
    height: 70px;
    width: 70px;
}

.buttons {
    display: flex;
}

.right {
    display: flex;
    flex-direction: column;
}

#zero {
    width: 155px;
    border-radius: 50px;
}

.right button {
    background-color: orange;
    color: white;
}

@media (min-width: 425px) {
    button {
        height: 60px;
        width: 60px;
        font-size: 24px;
    }

    #zero {
        width: 135px;
    }
}

@media (min-width: 375px) {
    #display {
        padding: 40px 10px 10px 0;
    }

    button {
        height: 50px;
        width: 50px;
        font-size: 20px;
    }

    #zero {
        width: 115px;
    }
}

@media (min-width: 320px) {
    #display {
        padding: 30px 10px 10px 0;
    }

    button {
        height: 40px;
        width: 40px;
        font-size: 18px;
    }

    #zero {
        width: 95px;
    }
}

@media (min-width: 280px) {
    #display {
        padding: 20px 10px 10px 0;
    }

    button {
        height: 30px;
        width: 30px;
        font-size: 15px;
    }

    #zero {
        width: 75px;
    }
}